<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bg-1.JPG')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="troop-logo">
                        <img src="assets/img/logo-white.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">The most active 310 community in Karnataka</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
      <div class="section" id="carousel">
          <div class="container">
            <h3 class="text-center">Gallery</h3>
            <br>
              <div class="row">
                  <div class="col-md-12 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Live to ride</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Riding is meditation</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Blaza the trails</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Ride with us</h2>
                        <p class="description">Just imagine that here's a nice little paragraph about our riding group. If you end up imagining something really good, do let me know and I shall update the same here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
